.bottom-menu
  position: fixed
  bottom: 0
  width: 100%
  display: flex
  justify-content: space-around
  align-items: center
  background: white
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1)
  padding: 10px 0
  z-index: 10
  border-top-left-radius: 10px // Rounded corners at the top
  border-top-right-radius: 10px

  .menu-item
    display: flex
    flex-direction: column
    align-items: center
    text-decoration: none
    color: #00796b
    font-family: Arial, sans-serif
    font-size: 14px
    padding: 5px 10px
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease
    border-radius: 5px // Slight rounded corners for individual items

    mat-icon
      font-size: 24px
      margin-bottom: 5px

    &:hover
      color: #004d40
      background-color: rgba(0, 121, 107, 0.08)
      transform: translateY(-3px) // Slight hover lift effect
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1)

  .legal-info
    position: relative

    .legal-toggle
      cursor: pointer
      color: #00796b
      font-size: 14px
      background: none
      border: none
      padding: 5px
      font-family: Arial, sans-serif
      transition: color 0.3s ease, transform 0.3s ease

      &:hover
        color: #004d40
        transform: scale(1.05) // Slight grow effect on hover

    .legal-modal
      position: absolute
      width: 200px
      bottom: 50px
      left: 50%
      transform: translateX(-50%)
      background: white
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2) // Deeper shadow for more prominence
      padding: 15px
      border-radius: 8px
      visibility: hidden
      opacity: 0
      transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease
      z-index: 100
      transform: scale(0.9) // Slightly smaller before appearing
      transition: all 0.3s ease

      ul
        list-style: none
        margin: 0
        padding: 0

        li
          margin: 10px 0

          a
            text-decoration: none
            color: #00796b
            font-family: Arial, sans-serif
            font-size: 14px
            transition: color 0.3s ease

            &:hover
              color: #004d40

      &.visible
        visibility: visible
        opacity: 1
        transform: scale(1) // Grow the modal to full size when visible
