$avatar-size: 100px
$border-radius: 50%

.avatar-container
  display: flex
  justify-content: center
  align-items: center

.avatar-image
  width: $avatar-size
  height: $avatar-size
  border-radius: $border-radius
  margin: auto

.avatar-name
  display: flex
  justify-content: center
  align-items: center
  font-size: 22px   // Larger font size for the name
  font-weight: 600  // Semi-bold or bold
  color: #333333

.avatar-position
  display: flex
  justify-content: center
  align-items: center
  font-size: 14px   // Smaller font size for the position
  font-weight: 400  // Regular font weight for the position
  color: #555555
