.square
  width: 50px
  height: 50px
  color: #009193
  border: solid
    color: #009193
  display: inline-block
  background-color: black

.square.empty
    background-color: black

.square.marked
    background-color: #009193

.square.proposed
    background-color: darkred

