<div class="softinnotec-card-grid">
  <app-card header="Arbeitsweise">
    Wir sind ein spezialisiertes Unternehmen in der Full-Stack-Entwicklung von hochkomplexen und hochverfügbaren
    Systemen. Unser Fokus liegt auf der eigenständigen Umsetzung sowohl fachlicher als auch technischer Anforderungen.
    Wir garantieren Qualität durch umfassende Maßnahmen zur Qualitätssicherung während des Entwicklungsprozesses sowie
    im Anschluss, einschließlich Code-Reviews und anderen bewährten Verfahren.
  </app-card>
  <app-card header="KONTAKT">
    softinnotec Lukasz Rzeszotarski
    USt-IdNr. PL9562082060
    +48 795 710 483
  </app-card>
</div>
