/* Typography */
.banner {
  width: 100%;
  background-color: #000; /* Black background */
  color: #fff; /* White text color */
  text-align: center;
  padding: 20px 0;
  margin-bottom: 20px; /* Space between banner and main content */
}

.banner h1 {
  font-family: Verdana, sans-serif; /* Use Verdana for the text */
  font-size: 20px; /* Larger font size for banner */
  font-weight: normal;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
  0 0 20px rgba(255, 255, 255, 0.6),
  0 0 30px rgba(255, 255, 255, 0.4); /* Glowing effect */
  margin: 0; /* Remove default margin */
}

h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

h2 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 40px;  /* Margin added at the top of h2 */
  margin-bottom: 15px; /* Bottom margin to separate from following content */
}

h3 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 30px;  /* Margin added at the top of h3 */
  margin-bottom: 10px; /* Bottom margin to separate from following content */
}

p {
  line-height: 1.6;
  margin-bottom: 20px; /* Increased bottom margin */
  margin-left: 20px; /* Add space from the left edge */
  margin-right: 20px; /* Add space from the right edge */
  background-color: #f9f9f9; /* Slightly shaded background */
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}
