<app-card header="Kontakt" class="app-card right-panel">
  <div class="company-name">
    softinnotec Łukasz Rzeszotarski
  </div>
  <div class="vat-id">
    <p>{{ '9562082060' | vatIDFormatter:'PL' }}</p>
  </div>
  <div class="email">
    <p>softinnotec&#64;outlook.com</p>
  </div>
  <div class="phone">
    <p>{{ '795710483' | phoneFormatter: 'PL' }}</p>
  </div>
  <div class="impressum">
    <a href="https://aplikacja.ceidg.gov.pl/?Id=04dc73f8-13c9-45fb-8656-ed4690054b8b" target="_blank" rel="noopener noreferrer">
      <button mat-button class="impressum-button">
        Impressum
      </button>
    </a>
  </div>
</app-card>
