<app-card header="Arbeitsweise" class="app-card left-panel">
  <div class="about-description">
    Wir sind ein spezialisiertes Unternehmen mit umfangreicher Erfahrung in internationalen Projekten, bei denen sowohl
    die Gestaltung benutzerfreundlicher Frontends als auch die Entwicklung komplexer Backend-Systeme im Fokus standen.
    Unser Ansatz konzentriert sich auf die ganzheitliche Umsetzung von funktionalen und benutzerzentrierten
    Anforderungen. Dabei legen wir besonderen Wert auf die nahtlose Integration von Frontend und Backend, um
    leistungsstarke und benutzerfreundliche Lösungen zu gewährleisten. Durch kontinuierliche Qualitätssicherung und
    bewährte Verfahren garantieren wir die hohe Leistungsfähigkeit unserer Systeme.
  </div>
  <div class="avatar-section">
    <app-avatar
      [name]="'Łukasz Rzeszotarski'"
      [position]="'Firmeninhaber und Full-Stack-Entwickler'"
      [src]="'avatar_lrzeszotarski.jpg'"
      altText="Lukasz Rzeszotarski"
      [size]="100"></app-avatar>
  </div>
</app-card>
