<app-card header="Arbeitsweise" class="app-card left-panel">
  <div class="about-description">
    <p>Wir bieten umfassende Leistungen in der Softwareentwicklung mit einem Fokus auf Qualität, Effizienz und
      maßgeschneiderte Lösungen:</p>
    <ul>
      <li><strong>Frontend-Entwicklung:</strong> Erstellung benutzerfreundlicher, responsiver Designs mit modernen
        Frameworks wie Angular oder React.
      </li>
      <li><strong>Backend-Entwicklung:</strong> Entwicklung leistungsstarker, skalierbarer Systeme unter Verwendung von
        Technologien wie Java, Spring Boot und Kafka.
      </li>
      <li><strong>Integration und Schnittstellen:</strong> Nahtlose Verbindung von Systemen über APIs (REST, SOAP) und
        Middleware-Lösungen.
      </li>
      <li><strong>Fullstack-Projekte:</strong> Ganzheitliche Umsetzung von Frontend- und Backend-Systemen, die optimal
        aufeinander abgestimmt sind.
      </li>
      <li><strong>Qualitätssicherung:</strong> Implementierung und Durchführung von Unit-Tests, Integrationstests und
        automatisierten Testlösungen.
      </li>
      <li><strong>Projektmanagement:</strong> Agile Entwicklung und Umsetzung von Projekten in enger Abstimmung mit
        Kunden.
      </li>
    </ul>
    <p>Mein Ziel ist es, Ihre Anforderungen präzise umzusetzen und langfristig tragfähige, innovative Lösungen zu
      schaffen.</p>
  </div>
  <div class="avatar-section">
    <app-avatar
      [name]="'Łukasz Rzeszotarski'"
      [position]="'Firmeninhaber und Full-Stack-Entwickler'"
      [src]="'avatar_lrzeszotarski.jpg'"
      altText="Lukasz Rzeszotarski"
      [size]="100"></app-avatar>
  </div>
</app-card>
