<app-card header="Arbeitsweise" class="app-card left-panel">
  <div class="about-description">
    Wir sind ein Unternehmen mit langjähriger Erfahrung in der Entwicklung internationaler Projekte und haben uns darauf
    spezialisiert, sowohl benutzerfreundliche Frontend-Lösungen als auch leistungsstarke Backend-Systeme zu schaffen.
    Unser Fokus liegt auf der ganzheitlichen Umsetzung von funktionalen, benutzerzentrierten Anforderungen, bei der
    Frontend und Backend nahtlos miteinander integriert werden. Durch bewährte Verfahren und kontinuierliche
    Qualitätssicherung gewährleisten wir die hohe Leistungsfähigkeit unserer Systeme und bieten gleichzeitig
    benutzerfreundliche, effiziente Lösungen.
  </div>
  <div class="avatar-section">
    <app-avatar
      [name]="'Łukasz Rzeszotarski'"
      [position]="'Firmeninhaber und Full-Stack-Entwickler'"
      [src]="'avatar_lrzeszotarski.jpg'"
      altText="Lukasz Rzeszotarski"
      [size]="100"></app-avatar>
  </div>
</app-card>
