.about-description
  p
    margin: 5px 0 // Reduced margin between paragraphs
    font-size: 1.1em

  ul
    list-style: none
    padding: 0
    margin: 0

    li
      background-color: #f9f9f9
      margin: 10px 0
      padding: 15px
      border-radius: 8px
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
      color: #333

      &:last-child
        border-bottom: none // Entfernt die Linie beim letzten Element

      &:hover
        color: black // Kept the hover effect color
        cursor: pointer
        transition: color 0.3s ease-in-out

  strong
    color: black
